@charset "UTF-8";
@import "./common/var.css";

.gk-col-1, .gk-col-2, .gk-col-3, .gk-col-4, .gk-col-5, .gk-col-6, .gk-col-7, .gk-col-8, .gk-col-9, .gk-col-10, .gk-col-11, .gk-col-12, .gk-col-13, .gk-col-14, .gk-col-15, .gk-col-16, .gk-col-17, .gk-col-18, .gk-col-19, .gk-col-20, .gk-col-21, .gk-col-22, .gk-col-23, .gk-col-24 {
  float: left;
  box-sizing: border-box;
}
.gk-col-0 {
  width: 0;
}

@for $i from 0 to 24 {
  .gk-col-$i {
    width: calc(1 / 24 * $(i) * 100)%;
  }
  .gk-col-offset-$i {
    margin-left: calc(1 / 24 * $(i) * 100)%;
  }
  .gk-col-pull-$i {
    position: relative;
    right: calc(1 / 24 * $(i) * 100)%;
  }
  .gk-col-push-$i {
    position: relative;
    left: calc(1 / 24 * $(i) * 100)%;
  }
}

@media (max-width: 768px) {
  @for $i from 0 to 24 {
    .gk-col-xs-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-xs-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-xs-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-xs-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}

@media (min-width: 768px) {
  @for $i from 0 to 24 {
    .gk-col-sm-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-sm-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-sm-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-sm-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
@media (min-width: 992px) {
  @for $i from 0 to 24 {
    .gk-col-md-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-md-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-md-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-md-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
@media (min-width: 1200px) {
  @for $i from 0 to 24 {
    .gk-col-lg-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-lg-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-lg-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .gk-col-lg-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
